元组的使用：元组拆包和嵌套拆包、具名元组。

### 2.3.1 元组和记录

In [1]:
# 把元组用作记录

# 作为不可变记录
lax_coordinates = (33.6541, 46.35132)

# 拆包
city, yeat, pop, chg, ares=a = ('Amrc', 2012, 213, 3.2, 5232)

# 迭代
traveler_ids = [('usa', '3213123'), ('cn', '12312432')]
for passport in sorted(traveler_ids):
    # 下面的百分号也是拆包
    print('%s/%s' % passport)

cn/12312432
usa/3213123

In [2]:
for conutry, _ in traveler_ids:
    print(conutry)

usa
cn

### 2.3.2 元组拆包

In [5]:
# 可以使用平行赋值辨认是否是拆包

position  = (213.2125, 13.212)
x, y = position

print(x)
print(y)

213.2125
13.212

In [6]:
# 交换两个变量的值

x, y = y, x

print(x)
print(y)

13.212
213.2125

In [7]:
# 可以用*运算符把一个可迭代对象拆开作为函数的参数

# divmod(x, y)函数返回元组：(x/y, x%y)
divmod(20, 8)

(2, 4)

In [8]:
t = (20, 8)
divmod(*t)

(2, 4)

In [11]:
# 另一个例子
import os

# 在进行拆包的时候，我们不总是对元组里所有的数据都感兴趣，_占位符能帮助处理这种情况，这段代码也展示了它的用法。
_, filename = os.path.split('./2.2.listcomps-and-genexps.ipynb')
filename

'2.2.listcomps-and-genexps.ipynb'

In [15]:
# 用星号确定获取不确定参数的数量

a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [16]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [18]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

### 2.3.3 嵌套元组拆包

In [19]:
metro_areas = [
    ('Tokyo','JP',36.933,(35.689722,139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333,-99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611,-74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778,-46.635833)),
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))

fmt = '{:15} | {:9.4f} | {:9.4f}'

for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

### 2.3.4 具名元组

In [23]:
# 定义和使用具名元组

from collections import namedtuple

# 各个字段的名字可以是由数个字符串组成的可迭代对象，或者是由空格分隔开的字段名组成的字符串。
City = namedtuple('City', 'name country population coordinates')

# anhui = City('AnHui', 'CN', 700.321, (40.163531, 116.15432)) # 这样也可以
anhui = City(name='AnHui', country='CN', population=700.321, coordinates=(40.163531, 116.15432))

In [24]:
anhui.name

'AnHui'

In [22]:
anhui.coordinates

(40.163531, 116.15432)

In [25]:
# 具名元组的属性和方法
City._fields

('name', 'country', 'population', 'coordinates')

In [27]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.232, LatLong(12.321, 321.2312))
delhi_data

('Delhi NCR', 'IN', 21.232, LatLong(lat=12.321, long=321.2312))

In [28]:
# delhi = City(*delhi_data)
delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.232, coordinates=LatLong(lat=12.321, long=321.2312))

In [31]:
# 转换为dict
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.232,
 'coordinates': LatLong(lat=12.321, long=321.2312)}

In [33]:
for k, v in delhi._asdict().items():
    print(k + ':', v)

name: Delhi NCR
country: IN
population: 21.232
coordinates: LatLong(lat=12.321, long=321.2312)